.circle-background {
    fill: #070F2B;
    stroke: #ffffff;
}

.circle-progress {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.circle-text {
    font-size: 3rem;
    font-weight: bold;
}